@page "/"

<PageTitle>Home</PageTitle>

<AuthorizeView>
	<Authorized>
		<h1>Dashboard</h1>
		<ul>
			<li>Pending</li>
			<li>Awaiting Payment</li>
			<li>Earnings</li>
		</ul>
	</Authorized>
	<NotAuthorized>
		<h1>Product landing page</h1>
		<p>When not logged in</p>
	</NotAuthorized>
</AuthorizeView>
