.nav-item ::deep a.active {
	background-color: rgba(255,255,255,0.37);
	color: white;
}

.nav-item ::deep .nav-link:hover {
	background-color: rgba(255,255,255,0.1);
	color: white;
}

.nav-item a:link, .nav-item a:visited {
	color:white
}