@page "/"

<PageTitle>Home</PageTitle>

<AuthorizeView>
	<Authorized>
		
	</Authorized>
	<NotAuthorized>
		<h1>Product landing page</h1>
		<p>When not logged in</p>
	</NotAuthorized>
</AuthorizeView>
