@page "/"

<PageTitle>Home</PageTitle>

<AuthorizeView>
	<Authorized>
		<h1>Authorized</h1>
		<p>Main dashboard</p>

		<IconNavLink Href="/Setup" Icon="settings" Text="Setup" />
	</Authorized>
	<NotAuthorized>
		<h1>Product landing page</h1>
		<p>When not logged in</p>
	</NotAuthorized>
</AuthorizeView>
