@page "/Auth"
@using Microsoft.AspNetCore.Identity
@using Microsoft.Extensions.Options
@attribute [Microsoft.AspNetCore.Authorization.Authorize]
@inject AuthenticationStateProvider AuthState
@inject IOptions<IdentityOptions> IdentityOptions
@inject ApiClient Api
@rendermode InteractiveWebAssembly

<h3>Auth Page</h3>

@code {
	UserInfo? userInfo;

	protected override async Task OnInitializedAsync()
	{
		var projects = await Api.GetMyProjectsAsync();
	}
}
